body{
  background-image: url(img/hatter.png);
  background-repeat: repeat;
  background-size: 200px;
}
#kep{
  height: 500px;
  width: 100%;
  background-image: url(img/desszertek.png);
  background-size: cover;
}
#main{
  background-color: white;
}
img{
  height: 50%;
  width: 50%;
  display: block;
  margin: 5px auto 5px auto;
}
h1{
  text-align: center;
}
nav{
  color: white;
}